!!! 5
html(lang='en')
head
	include ../head
body 
	include ../navbar
	.container
		.row
			.col-xs-2
				include side-navbar
			.col-xs-7
				.panel.panel-default
					.panel-heading SEMRush Related and Competing Companies
					table.table(id = 'competition')
			.col-xs-3.notifications
	include ../footer
	script(src='/js/entrepreneur/related_companies.js')