!!! 5
html(lang='en')
head
	include ../head
body 
	include ../navbar
	.container
		.row
			.col-xs-2
				include side-navbar
			.col-xs-7 
				.panel.panel-default
					.panel-heading Facebook Statistics
					table.table 
						tr
							td Talking About
							td.fb_talking_about
						tr
							td Were Here Count
							td.fb_were_here
						tr
							td Likes
							td.fb_likes
					.panel-heading Alexa Daily Traffic Graph
					.alexa_daily_traffic
					.panel-heading Alexa Daily Pageviews Percent
					.alexa_daily_pageviews_percent
					.panel-heading Alexa Daily Pageviews Per User
					.alexa_daily_pageviews_peruser
					.panel-heading Alexa Time on Site
					.alexa_time_on_site
					.panel-heading Alexa Bounce Rate
					.alexa_bounce_rate
					.panel-heading Semrush Search Traffic
					.semrush_search_traffic
					.panel-heading Semrush Search Traffic Price
					.semrush_search_traffic_price
					.panel-heading Semrush Search Adwords Traffic
					.semrush_search_adwords_traffic
					.panel-heading Semrush Search Adwords Traffic Price
					.semrush_search_adwords_traffic_price
					table.table 
						tr
							td Alexa Global 
							td.alexa_global
						tr
							td Alexa Monthly
							td.alexa_monthly
						tr
							td Alexa Weekly
							td.alexa_weekly
						tr 
							td Alexa Daily 
							td.alexa_daily
						tr 
							td Alexa Country
							td.alexa_country
						tr
							td Alexa Backlink
							td.alexa_backlink
						tr
							td Alexa Page Load Time
							td.alexa_page_load_time
						tr 
							td Google Page Rank
							td.google_page_rank
						tr
							td Google Page Speed Score
							td.google_page_speed_score
						tr
							td Google Site Index Total
							td.google_site_index_total
						tr
							td Google Backlinks Total
							td.google_backlinks_total
						tr 
							td Google Search Results Total
							td.google_search_results_total
						tr
							td Inbound Links
							td.open_site_explorer_metric
						tr
							td Sistrix Visibility
							td.sistrix_visibility
						tr
							td Google Plus One
							td.google_plus_one
						tr
							td Facebook Shares
							td.facebook_shares
						tr
							td Twitter Mentions
							td.twitter_mentions
						tr
							td Delicious Shares
							td.delicious_shares
						tr
							td Digg Shares
							td.digg_shares
						tr
							td Linkedin Shares
							td.linkedin_shares
						tr
							td Pinterest Shares
							td.pinterest_shares
						tr
							td Stumbleupon Shares
							td.stumbleupon_shares
						tr
							td Vkontakte Shares
							td.vkontakte_shares
			.col-xs-3.notifications
	include ../footer
	script(src='/js/entrepreneur/social_outreach.js')