meta(charset='utf-8')
meta(name='description', content='')
meta(name='author', content='')
// Note there is no responsive meta tag here 
link(rel='shortcut icon', href='/bootstrap/assets/ico/favicon.png')
title Non-responsive Template for Bootstrap
// Bootstrap core CSS 
link(href='/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
// Custom styles for this template 
link(href='/css/non-responsive.css', rel='stylesheet')
// HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
//if lt IE 9
	script(src='/bootstrap/assets/js/html5shiv.js')
	script(src='/bootstrap/assets/js/respond.min.js')
script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
script(src='/js/functions.js')