!!! 5
html(lang='en')
head
	link(rel = 'icon', type = 'image/png', href= '/img/hand.png')
	link(rel = 'shortcut icon', type = 'image/png', href= '/img/hand.png')
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	meta(name='description', content='')
	meta(name='author', content='')
	title Startup Cloud
	// Bootstrap core CSS 
	link(href='bootstrap/dist/css/bootstrap.css', rel='stylesheet')
	// HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
	//if lt IE 9
		script(src='bootstrap/assets/js/html5shiv.js')
		script(src='bootstrap/assets/js/respond.min.js')
	// Custom styles for this template 
	link(href='css/carousel.css', rel='stylesheet')
	// load google jquery and our javascript
	script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
body
	.fb-like(data-href='https://www.facebook.com/StartupCloud', data-width='450', data-layout='button_count', data-show-faces='false', data-send='false', style = 'position:fixed; right: 5px; top: 5px; z-index:1000')
	#fb-root
	script
		// Additional JS functions here
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '472403996180656', // App ID
				channelUrl : '//startupcloud.org/channel.html', // Channel File
				status     : true, // check login status
				cookie     : true, // enable cookies to allow the server to access the session
				xfbml      : true  // parse XFBML
			});
			// Additional init code here
			FB.Event.subscribe('auth.authResponseChange', function(response) {
				if (response.status === 'connected') {
					console.log('connected')
					sendATtoServer(); // send access token to server
				} else if (response.status === 'not_authorized') {
					console.log('not authorized')
					FB.login();
				} else {
					console.log('not authorized')
					FB.login();
				}
			});
		};
		function sendATtoServer() {
			console.log('Welcome!  Fetching your information.... ');
			FB.api('/me', function(response) {
				var access_token = FB.getAuthResponse()['accessToken'];
				console.log(response)
				$.ajax({
					url: '/access_token/' + access_token,
					success: function(data){
						console.log(data)
						if (data == 'at-received') {
							console.log('Access Token received by server. Redirecting to signed in version of app.')
							window.location.replace('/')
						}
					},
					timeout: 1000
				});
			});
		}
		// Load the SDK asynchronously
		(function(d){
			var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement('script'); js.id = id; js.async = true;
			js.src = "//connect.facebook.net/en_US/all.js";
			ref.parentNode.insertBefore(js, ref);
		}(document));
	#myCarousel.carousel.slide
		ol.carousel-indicators
			li.active(data-target='#myCarousel', data-slide-to='0')
			li(data-target='#myCarousel', data-slide-to='1')
			li(data-target='#myCarousel', data-slide-to='2')
		.carousel-inner
			.item.active
				img(src='/img/nyc.jpg', alt='First slide')
				.container
					.carousel-caption
						h1(style = 'font-size: 100px; font-weight:200;') Startup Cloud
						h2(style = 'font-weight:100;') Start, invest in, and join startups.
						p
							fb:login-button(show-faces='false', width='200', max-rows='1')
			.item
				img(src='/img/taj.jpg', alt='Second slide')
				.container
					.carousel-caption
						h1(style = 'font-size: 100px; font-weight:200; ') Startup Cloud
						h2(style = 'font-weight:100;') Fight poverty with innovation. 
						p
							fb:login-button(show-faces='false', width='200', max-rows='1')
			.item
				img(src='/img/singapore.jpg', alt='Third slide')
				.container
					.carousel-caption
						h1(style = 'font-size: 100px; font-weight:200;') Startup Cloud
						h2(style = 'font-weight:100;') Login with facebook to get started today.
						p
							fb:login-button(show-faces='false', width='200', max-rows='1')
		a.left.carousel-control(href='#myCarousel', data-slide='prev')
			span.glyphicon.glyphicon-chevron-left
		a.right.carousel-control(href='#myCarousel', data-slide='next')
			span.glyphicon.glyphicon-chevron-right
	
	// Marketing messaging and featurettes
	// Wrap the rest of the page in another container to center all the content. 
	.container.marketing
		// Three columns of text below the carousel 
		.row
			.col-lg-4
				img.img-circle(src='/img/shanghai.jpg', style = 'width:140px; height:140px;', alt='Generic placeholder image')
				h2 Poverty Eradication
				p China has pulled approximately 600 million people out of absolute poverty since market reforms in the late 1970's. Never in human history have so many people been pulled out of grinding poverty is such a short span of time. (CNN)
			.col-lg-4
				img.img-circle(src='/img/dharavi.jpg', style = 'width:140px; height:140px;', alt='Generic placeholder image')
				h2 Economic Freedom
				p India has managed to pull 2 hundred million people out of grinding poverty since economic reforms were initiated. South Korea has gone from a per-capita income of $291 in 1970 to $20,000 today. (CNN)
			.col-lg-4
				img.img-circle(src='/img/dubai.jpg', style = 'width:140px; height:140px;', alt='Generic placeholder image')
				h2 Entrepreneurship
				p Across the world, we find countries that created an entrepreneurship and business friendly environment were successful in reducing poverty drastically. (Professor Reuben Abraham for CNN Opinion)
		hr.featurette-divider
		.row.featurette
			.col-md-7
				h2.featurette-heading
					| The only social agent that can create wealth is 
					span.text-muted business
					| .
				p.lead
					| Traditional analyses of economic development and growth have historically focused on large corporations, based on the assumption that these firms are the main drivers of economic growth in modern economies. Academics and policy makers are now increasingly appreciating and accounting for the role played by new and small businesses in the economy. (GEM 2012 Global Report, CNN)

			.col-md-5
				img.featurette-image.img-responsive(src='/img/seed.jpg', style = 'width:500px; height:500px;')
		hr.featurette-divider
		.row.featurette
			.col-md-5
				img.featurette-image.img-responsive(src='/img/female.jpg', style = 'width:500px; height:500px;')
			.col-md-7
				h2.featurette-heading
					| Women can no longer be both 
					span.text-muted half the population 
					| and 
					span.text-muted a special interest group
					| .
				p.lead
					| Business is critical to Afghanistan’s future because long after the rounds of internationals leave, business would keep the country peaceful and secure. It is even more important for women because earning an income earns respect and 
					b money is power for women
					| . (Gayle Tzemach Lemmon’s TED Talk: Women entrepreneurs, example not exception)
		hr.featurette-divider
		.row.featurette
			.col-md-7
				h2.featurette-heading
					| Experts largely rated entrepreneurship education at primary and secondary school levels as 
					span.text-muted poor
					| .
				p.lead
					| There is a need for both national and global efforts to encourage this factor. There are clear linkages between education, poverty reduction and sustainability. The poor and marginalized are disproportionately more affected by poor environmental and socio-economic conditions. (GEM 2012 Global Report, UNESCO)
			.col-md-5
				img.featurette-image.img-responsive(src='/img/abc.jpg', style = 'width:500px;')
		hr.featurette-divider
		footer
			p.pull-right
				a(href='#') Back to top
			p
				| © 2013 Startup Cloud, Inc. 
	// Bootstrap core JavaScript
	// Placed at the end of the document so the pages load faster 
	script(src='bootstrap/assets/js/jquery.js')
	script(src='bootstrap/dist/js/bootstrap.min.js')
	script(src='bootstrap/assets/js/holder.js')