!!! 5
html(lang='en')
head
	include ../head
body 
	include ../navbar
	.container
		.row
			.col-xs-2
				include side-navbar
			.col-xs-7
				.row
					.col-xs-3
						img.img-rounded(src='data:image/png;base64,', data-src='holder.js/125x100', alt='Generic placeholder image', id = 'image1')
					.col-xs-9
						input.form-control.input-lg(placeholder='Company 1', id = 'partner_name1')
						br
						.row
							.col-xs-6
								input.form-control(type='text', placeholder="Job", id = 'job1')
							.col-xs-6
								.input-group
									input.form-control(type='text', placeholder="Equity", id = 'partner_equity1')
									span.input-group-addon %
				br 
				button.btn.btn-default.btn-lg.btn-block(type='button') New Member
			.col-xs-3
	include ../footer